@media screen and (max-width: 600px) {

  /* navbar or home menu  */
  .navebar{
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: none;
    text-align: center;
  }
  .menu ul{
    flex-direction: column;
    grid-template-columns: repeat(1,1fr);
    padding-top: 10xp 
  }
  .nav-title{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-size: 40px;
  }
  .menu li{
    font-size: 60px;
    padding-top: 120px;
    text-align: center;
    padding-left: 300px;
  }
  .menu li a{
    color: black;
  }

/* Explore or banner */
.where-go{
  font-size: 30px;
}
.explore-title{
  font-weight: 500;
  
}
.banner-description{
  font-size: 2rem;
  color: rgb(252, 252, 252);
}
  .image-container{
    width: 900px;
    height: 500px;
  }
  .input-container{
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr)
  }
}





@media screen and (min-width:600px) and (max-width:992px) {
  navbar and home menu
  
  .navebar{
    box-shadow: none;
  }
  
  .menu ul{
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    font-style: bold;
  }
  .nav-title{
    margin-left: 5px;
  }
  .menu li{
    padding-left: 80px;
    padding-right: 5px;
    font-size: 30px;
  }
  
}